@use "@styles/abstracts" as *;

* {
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
}

:empty {
  display: none;
}

body {
  color: color-mix(in oklab, var(--foreground)90%, transparent);
  background-color: var(--background);
  font-family: var(--font-body);
}

h1 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-light);
  line-height: 1.5;
  font-family: var(--font-display);
}

h2 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-light);
  line-height: 1.5;
  font-family: var(--font-display);
}

h3 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-light);
  line-height: 1.5;
  font-family: var(--font-display);
}

h4 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-light);
  line-height: 1.5;
  font-family: var(--font-display);
}

label {
  font-size: var(--text-base);
  font-weight: var(--font-weight-light);
  line-height: 1.5;
}

button {
  font-size: var(--text-base);
  font-weight: var(--font-weight-light);
  line-height: 1.5;
}

input {
  font-size: var(--text-base);
  font-weight: var(--font-weight-light);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
a {
  cursor: pointer;
}

br {
  display: initial !important;
}

ul.list-unstyled {
  padding: 0;
  list-style: none;
}

.text {
  color: var(--muted-foreground);
}

.text-accent {
  color: var(--accent);
}

.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100vw;
}

svg {
  width: 1.2rem;
  height: 1.2rem;
}

path {
  display: initial !important;
}

#back-to-top {
  position: fixed;
  top: 0;
  left: 0;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 0;
  color: transparent;
  opacity: 0;
  position: absolute;
  top: 1px;
  bottom: 1px;
  z-index: -1;

  &#back-to-top:focus,
  &#back-to-top:focus-visible,
  &#back-to-top:focus-within {
    all: initial;
    position: fixed;
    padding: 20px;
    border: 2px solid var(--accent);
    border-radius: 12px;
    cursor: pointer;
    background: var(--color-white);
    z-index: 2;
  }
}

#main-content section {
  margin-bottom: spacing(xxl);  
}

.section {
  &__wrapper {
    max-width: var(--container-width);
    display: flex;
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
    gap: var(--space-xxl);

    @include respond-below(lg) {
      display: block;
    }
  }

  &__title,
  &__description {
    flex: 1;
    max-width: 100%;
    margin-bottom: spacing(lg);

    @include respond-below(lg) {
      max-width: 100%;
    }
  }

  &__heading {
    font-size: 3.5rem;
    margin-top: 0;
    line-height: 1.2;
    display: block;
    max-width: fit-content;
    padding-bottom: var(--space-xl);
    border-bottom: 1px solid var(--accent);
    margin-bottom: var(--space-xl);

    @include respond-below('lg') {
      font-size: 2.5rem;
    }
  }

  &__title {
    @include respond-below('lg') {
      margin-bottom: spacing(lg);
    }
  }

  &__paragraph {
    line-height: 1.5;
    color: var(--muted-foreground);
  }

  &__description {
    color: var(--muted-foreground);
    line-height: 1.4;
  }
}

.side-section {
  min-height: 65dvh;
}