@use "@styles/abstracts" as *;

#header {
  position: fixed;
  padding: var(--space-lg);
  top: 0;
  left: 0;
  z-index: z(header);

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>* {
      min-width: calc(100% / 3);
    }
  }

  a {
    max-width: fit-content;
    display: block;
  }

  h1 {
    margin: 0;
    font-size: var(--font-size-xl);
  }

  .logo {
    font-family: var(--font-display);
    user-select: none;
    display: flex;

    .mask {
      max-width: 0px;
      overflow: hidden;
      transition: all .8s ease;
    }

    .hide {
      opacity: 0;
      transition: all .3s ease;
    }

    .spot {
      color: var(--accent)
    }


    @include respond-to('sm') {
      &:hover .hide {
        opacity: 1;
      }

      &:hover .mask {
        max-width: 999px;
      }
    }
  }

  .header-navigation ul {
    display: none;
    gap: var(--space-lg);
    justify-content: flex-end;


    a {
      transition: all .3s ease;
    }

    & a:hover {
      color: var(--accent);
    }
  }

  .mobile-navigation {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    cursor: pointer;

    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
  }

  .clock {
    text-align: center;
    font-family: var(--font-display);
    font-size: var(--font-size-lg);
  }

  .mobile-navigation {
    justify-content: flex-end;
  }

  @include respond-to('lg') {
    .header-navigation ul {
      display: flex;
    }

    .mobile-navigation {
      display: none;
    }
  }

  @include respond-below('lg') {
    padding-top: spacing(sm);
    padding-bottom: spacing(sm);
  }
}