{% extends "layouts/base.njk" %}

{% block content %}
    {% include "components/hero.njk" %}
    {% include "components/about-section.njk" %}
    {% include "components/worked-with.njk" %}
    {% include "components/personal-projects.njk" %}
    {% include "components/selected-work.njk" %}
    {% include "components/contact.njk" %}
{% endblock %}