{% extends "templates/side-to-side.njk" %}
{% import "macros/section-heading.njk" as section_heading %}

{% block id %}about-section{% endblock %}

{% block left %}
    {{ section_heading.render(about_section.heading) }}
{% endblock %}

{% block right %}
    <div class="section__description">
        {% for k, paragraph in about_section.description %}
            <p class="section__paragraph">
                {{ paragraph }}
            </p>
        {% endfor %}
    </div>
{% endblock %}
