{% extends "layouts/base.njk" %}

{% block content %}
<article class="post" id="post">
    <div class="section__wrapper post__header">
        <div class="section__title">
            <h1 class="post__title">{% block post_title %}{% endblock %}</h1>
            <div class="post__meta">
                <time class="post__date" datetime="{% block post_date_iso %}{% endblock %}">
                    {% block post_date_display %}{% endblock %}
                </time>
                {% block post_tags %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="post__body">
        {% block post_body %}{% endblock %}
    </div>
</article>
{% endblock %}
